##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##
server {
    listen        *:80 default_server;
    server_name   "{{ inventory_hostname }}";

    access_log  /var/log/nginx/access.log;
    error_log   /var/log/nginx/error.log;

    location / {
        uwsgi_pass 127.0.0.1:8080;
        uwsgi_param UWSGI_SCHEME $scheme;
        include uwsgi_params;
    }

    location /static {
        alias {{ galaxy_server_dir }}/static;
        expires 24h;
    }

    location /static/style {
        alias {{ galaxy_server_dir }}/static/style/blue;
        expires 24h;
    }

    location /static/scripts {
        alias {{ galaxy_server_dir }}/static/scripts;
        expires 24h;
    }

    # serve visualization and interactive environment plugin static content
    location ~ ^/plugins/(?<plug_type>[^/]+?)/((?<vis_d>[^/_]*)_?)?(?<vis_name>[^/]*?)/static/(?<static_file>.*?)$ {
        alias {{ galaxy_server_dir }}/config/plugins/$plug_type/;
        try_files $vis_d/${vis_d}_${vis_name}/static/$static_file
                  $vis_d/static/$static_file =404;
    }

    location /robots.txt {
        alias {{ galaxy_server_dir }}/static/robots.txt;
    }

    location /favicon.ico {
        alias {{ galaxy_server_dir }}/static/favicon.ico;
    }
}
